body {
    margin: 0px;
}

/* Header details  */

.header {
    background-color: #1F2937;
    color: #F9F8FA;
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    gap:32%;
    font-family: roboto;
    align-items: center;
    /* padding-left: 20px; */
}

.logo {
    padding-left: 20px;
    font-weight:bolder;
}

* {
    font-family:Arial, Helvetica, sans-serif;
}

.top_list {
    padding: 0px 20px;
    display: flex;
    gap: 20px;
    font-weight: 100;
}

li  {
    display: inline;
    font-weight: 100;
}

li a {
    text-decoration: none;
    color:#F9F8FA;
    font-size: 22px;
}

/* Hero Container  */


.hero_container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    color:#F9F8FA;
    padding: 50px 0px;
}

.hero_pic {
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: purple;
    border: solid 5px white;
    border-radius: 5px;
    margin: 10px 0px;
    flex-grow: 0;
    font-size: 48px;
    font-weight: 800;


}

.hero_text {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;

}

.big_text {
    color:#F9F8FA;
    font-size: 36px;
    font-weight: 700;
}

.info_text {
    font-weight: lighter;
}

.signup_button{
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9F8FA;
    font-weight: 700;
    flex: initial;
    width: 130px;
    text-align: center;
    padding: 10px 10px;
    border: solid 1px #3882F6;
    font-size: 17px;
}

/* Info Part */

.ult_info {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 40px;
}

.info_container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 70px;
    padding-top: 40px;
}

.pic_placeholder {
    height: 200px;
    width: 200px;
    border: solid 5px blueviolet;
    border-radius: 4px;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 10px;
    width: 250px;
}

div.panel {

    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}

/* Quote stuff */

.quote_container {
    font-style: italic;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    color: black;
    padding: 80px 0px;
}

.inner_quote {
    width: 1000px;
    font-weight: 100;
}

.author_quote {
    width: 1000px;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
    font-style: normal;
}

/* Join! */

.join_container {
    display: flex;
    padding: 90px 0px;
    justify-content: center;
    align-items: center;
}

.blue_inner_con {
    background-color: #3882F6;
    color:#F9F8FA;
    border-radius: 10px;
    padding: 50px 20px;
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.blue_inner_con .signup_button {
    border: solid 2px white;
    padding: 10px 7px;  
}

.big_inner_text {
    font-size: 26px;
    font-weight: 600;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}